@font-face {
	font-family: 'Signika';
	src: local('Signika'),
		url(Signika/static/Signika-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'Lato';
	src: local('Lato'),
		url(Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'Signika-Negative';
	src: local(Signika-Negative),
		url(Signika_Negative/SignikaNegative-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

body {
    padding: 75px 0 0 73px;
    width: 1511px;
    height: 1716px;
    background-color: #EAEDF1;
    font-family: 'Signika';
    box-sizing: border-box;
    color: #33495F;
    font-weight: normal;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

header {
    display: grid;
    grid-template-columns: 432px 824px;
    column-gap: 91px;
}

.white {
    background-color: white;
    border-radius: 2px;
}

.name {
    grid-column-start: 1;
    height: 296px;
    display: grid;
    grid-template-rows: 216px 80px;
}

.avatar {
    grid-row-start: 1;
    
}

.avatar img {
    border-radius: 50%;
    float: left;
    margin: 35px 41px auto 27px;
}

.avatar h2 {
    float: left;
    font-size: 30px;
    margin-top: 94px;
    line-height: 0%;
}

.avatar p{
    float: left;
    font-size: 18px;
    color: #586879;
    margin-top: -5px;
    font-family: 'Lato';
}

.characteristic {
    grid-row-start: 2;
    font-size: 0;

}

.char {
    display: inline-block;
    height: 100%;
    width: 25%;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.char img {
    margin-top: 20px;
    margin-bottom: -10px;
    box-sizing: border-box;
}

.char p {
    vertical-align: top;
}

.age {
    background-color: #16C4EC;
}

.language {
    background-color: #FA5351;
}

.car {
    background-color: #10CDC1;
}

.smoke {
    background-color: #33495F;
}

.profession {
    grid-column-start: 2;
    height: 296px;
    display: grid;
    grid-template-columns: 430px 277px;
    column-gap: 79px;
}

.prof {
    grid-column-start: 1;
}

.social {
    grid-column-start: 1;
    padding-left: 26px;
    display: inline-block;
    position: relative;
    letter-spacing: 43px;
    margin-top: -34px;
}

.contacts {
    grid-column-start: 2;
    font-family: 'Lato';
    font-size: 22px;
    margin-top: 82px;
    margin-left: 2px;
    margin-bottom: 70px;
    border-bottom: 1px solid #788695;
}

.contacts a {
    letter-spacing: 2px;
    text-decoration: none;
}

.prof h1 {
    font-size: 40px;
    padding: 39px 0 0 28px;
    line-height: 0%;
    letter-spacing: -1px;
}

.prof p {
    padding: 4px 0 0 32px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
}

.prof span {
    color: #16C4EC;
}

.contacts a {
    color: #FA5351;
}

main {
    display: grid;
    grid-template-columns: 636px 89px 563 px;
    padding-top: 36px;
}

.job1 {
    grid-column: 1/2;
    width: 636px;
    height: 340px;
    padding: 9px 0 0 23px;
    box-sizing: border-box;
}

.job-title-main {
    font-size: 24px;
    letter-spacing: 1px;
}

.job-title-note {
    font-family: 'Lato';
}

.job-title-post {
    color: #10BFAA;
    font-size: 20px;
}

main ul{
    font-family: 'Lato';
    padding: 9px 0 0 30px;
    list-style-image: url(../images/marker.png);
    line-height: 218%;
}

.place {
    font-family: 'Lato';
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 34px -10px 0 -27px;
}

button {
    width: 219px;
    height: 39px;
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    background: #16C4EC;
    border: none;
    border-radius: 2px;
}

.place img {
    margin-right: 10px;
}