@font-face {
	font-family: 'Signika';
	src: local('Signika'),
		url(Signika/static/Signika-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'Lato';
	src: local('Lato'),
		url(Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

@font-face {
	font-family: 'Signika-Negative';
	src: local(Signika-Negative),
		url(Signika_Negative/SignikaNegative-Regular.ttf);
    font-weight: normal;
    font-style: normal; 
}

body {
    padding: 75px 49px 0 73px;
    width: 1511px;
    height: 1716px;
    background-color: #EAEDF1;
    font-family: 'Signika';
    box-sizing: border-box;
    color: #33495F;
    font-weight: normal;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}

header {
    display: grid;
    grid-template-columns: 432px 824px;
    column-gap: 91px;
}

.white {
    background-color: white;
    border-radius: 2px;
}

.grey {
    background-color: #DBE1E8;
    border-radius: 1px;
}

.name {
    grid-column-start: 1;
    height: 296px;
    display: grid;
    grid-template-rows: 216px 80px;
}

.avatar {
    grid-row-start: 1;
    
}

.avatar img {
    border-radius: 50%;
    float: left;
    margin: 35px 41px auto 27px;
}

.avatar h2 {
    float: left;
    font-size: 30px;
    margin-top: 94px;
    line-height: 0%;
}

.avatar p{
    float: left;
    font-size: 18px;
    color: #586879;
    margin-top: -5px;
    font-family: 'Lato';
}

.characteristic {
    grid-row-start: 2;
    font-size: 0;

}

.char {
    display: inline-block;
    height: 100%;
    width: 25%;
    font-size: 14px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.char img {
    margin-top: 20px;
    margin-bottom: -10px;
    box-sizing: border-box;
}

.char p {
    vertical-align: top;
}

.age {
    background-color: #16C4EC;
}

.language {
    background-color: #FA5351;
}

.car {
    background-color: #10CDC1;
}

.smoke {
    background-color: #33495F;
}

.profession {
    grid-column-start: 2;
    height: 296px;
    display: grid;
    grid-template-columns: 430px 277px;
    column-gap: 79px;
}

.prof {
    grid-column-start: 1;
}

.social {
    grid-column-start: 1;
    padding-left: 26px;
    display: inline-block;
    letter-spacing: 47px;
    margin-top: -43px;
}

.contacts {
    grid-column-start: 2;
    font-family: 'Lato';
    font-size: 22px;
    margin-top: 82px;
    margin-left: 2px;
    margin-bottom: 78px;
    border-bottom: 1px solid #788695;
}

.contacts a {
    letter-spacing: 2px;
    text-decoration: none;
}

.prof h1 {
    font-size: 40px;
    padding: 39px 0 0 28px;
    line-height: 0%;
    letter-spacing: -1px;
}

.prof p {
    padding: 4px 0 0 32px;
    font-family: 'Lato';
    font-size: 18px;
    line-height: 170%;
    text-align: justify;
}

.prof span {
    color: #16C4EC;
}

.contacts a {
    color: #FA5351;
}

main {
    display: grid;
    grid-template-columns: 636px 58px 627 px;
    padding-top: 36px;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 97%;
    background-color: #DBE1E8;
    left: 672px;
    top: 36px;
}

main::after {
    content: "2004";
    position: absolute;
    width: 72px;
    height: 34px;
    background-color: #DBE1E8;
    color: white;
    font-family: 'Lato';
    font-size: 23px;
    text-align: center;
    line-height: 140%;
    left: 639px;
    bottom: -6px;
    border-radius: 2px;
}

.work {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    height: 1100px;
    justify-content: space-between;
}

.education {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    height: 1165px;
    justify-content: space-between;
}

.job {
    width: 636px;
    padding: 9px 0 0 23px;
    box-sizing: border-box;
    position: relative;
}

.job::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    right: -49px;
    top: 50%;
    transform: translateY(-50%);
}

.study {
    position: relative;
}

.study::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:  #DBE1E8;
    border-radius: 10px;
    left: -55px;
    transform: translateY(-50%);
}

.study1::before {
    top: 270px;
}

.study2::before {
    top: 273px;
}

.line::before {
    top: 268px;
}

.study3::before {
    top: 447px;
}

.study4::before {
    top: 449px;
}

.job1 {
    height: 340px;
}

.job-title-main {
    font-size: 24px;
    letter-spacing: 1px;
}

.job-title-note {
    font-family: 'Lato';
}

.job-title-post {
    color: #10BFAA;
    font-size: 20px;
}

main ul{
    font-family: 'Lato';
    padding: 9px 0 0 30px;
    list-style-image: url(../images/marker.png);
    line-height: 218%;
}

.job .place {
    font-family: 'Lato';
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 15px;
    margin: 34px -10px 0 -27px;
}

.job2 {
    height: 323px;
}

main .job2 ul{
    padding-top: 0;
    margin-top: -5px;
}

.job2 .place {
    margin: 28px -10px 0 -25px;
}

.job3 {
    height: 170px;
}

.job3 .place {
    margin: 28px -10px 0 -25px;
}

.job4 {
    height: 170px;
}

.job4 .place {
    margin-top: 24px;
}

button {
    width: 219px;
    height: 39px;
    font-family: 'Lato';
    font-size: 16px;
    color: white;
    background: #16C4EC;
    border: none;
    border-radius: 2px;
}

.job3 button {
    background: #B0BBCA;
}

.job4 button {
    background: #B0BBCA;
}

button:hover {
    cursor: pointer;
}

.place img {
    margin-right: 10px;
}

.study {
    grid-column-start: 3;
    width: 627px;
    height: 170px;
    padding: 7px 0 0 27px;
    box-sizing: border-box;
}

.study-title-main {
    font-size: 22px;
    letter-spacing: 1px;
}

.study-title-note {
    font-family: 'Lato';
}

.study-title-post {
    color: #10BFAA;
    font-size: 18px;
}

.study1 .study-title-post {
    color: #16C4EC;
}

.study2 .study-title-post {
    color: #16C4EC;
}

.study .place {
    font-family: 'Lato';
    font-size: 13px;
    display: grid;
    grid-template-columns: 140px 220px 219px;
    align-items: baseline;
    margin-top: 30px;
}

.study button {
    background: #10CDC1;
    grid-column-start: 3;
}

.study .place span:first-child {
    grid-column-start: 1;
}

.study .place span:last-child {
    grid-column-start: 2;
}

.rating {
    grid-column-start: 3;
    justify-self: end;
}

.study3 {
    height: 128px;
}

.study3 .place {
    margin-top: -4px;
}

.study4 {
    height: 128px;
}

.study4 .place {
    margin-top: -4px;
}

.line  {
    border-top: 3px dotted #C2CAD4;
    height: 0;
    width: 627px;
}

.rating img {
    margin: 0;
}

.hobby {
    height: 401px;
    width: 627px;
    border-radius: 0;
    display: grid;
    grid-template-rows: 137px auto;
}

.passion {
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 0 3px 0 11px;
    text-align: center;
    align-items: flex-end;
}
  
.itemhobby img {
    display: block;
    border-radius: 50%;
}

.progressbar {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 54px 54px 54px 54px;
    grid-auto-flow: column;
    padding: 4px 0 20px 24px;
}

.progress-title{
    font-size: 16px;
    margin-bottom: 3px;
}

.progress-bar {
    width: 270px;
    background-color: #DBE1E8;
    border-radius: 8px;
}

.progress-bar-fill {
    display: block;
    height: 15px;
    background-color: #10CDC1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.progress2 .progress-bar-fill {
    background-color: #16C4EC;
}

.progress-value{
    width: 38px;
    height: 18px;
    line-height: 18px;
    border-radius: 5px;
    background: #34495E;
    font-size: 12px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 22px;
    right: -17px;
}

.progress-value::after{
    content: "";
    border-top: 4px solid #34495E;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 40%;
}

footer {
    height: 90px;
    width: 1347px;
    line-height: 210%;
    text-align: center;
    font-family: 'Lato';
    font-style: italic;
    font-size: 18px;
}

footer p::before {
    content: "“";
    font-size: 120px;
    color: #CED4DD;
    position: relative;
    top: 60px;
    right: 12px;
    font-family: ui-sans-serif;
    font-style: normal;
}

footer p::after {
    content:"”";
    font-size: 120px;
    color: #CED4DD;
    position: relative;
    top: 60px;
    left: 12px;
    font-family: ui-sans-serif;
    font-style: normal;
}